body {
    background: rgb(120, 164, 177);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    width: 500px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.363);
}

div {
    background-color: rgb(222, 209, 235);
    text-align: center;
    padding: 8px;
}

footer {
    color: white;
    text-align: center;
    font-size: italic;
}